.about {
    background-image: url('/dist/img/about-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 108px;
}

.about__ {
    &title {
        font-family: $montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 50px;
        color: #FFFFFF;
        padding-bottom: 75px;
    }
}

.about__ { 
    &items-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 97px;
        row-gap: 116px;
        align-items: center;
        padding-bottom: 119px;
    }

    &text {
        font-family: $lato;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #A291A5;
        position: relative;
        padding-bottom: 132px;
    }

    &text::after {
        position: absolute;
        content: "";
        background: #645766;
        width: 70%;
        height: 2px;
        top: 43%;
        left: 15%;
    }
}

.item__ {
    &img {
        padding-bottom: 33px;
    }

    &text {
        font-family: $lato;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
}


@media (min-width: 481px) and (max-width: 993px) {
    .about__ {
        &items-wrapper {
            grid-template-columns: repeat(2, 1fr);
            padding-left: 20px;
            padding-right: 20px;
            column-gap: 63px;
        }

        &title {
            font-size: 42px;
            line-height: 44px;
        }

    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .about__ {
        &title {
            font-size: 36px;
            line-height: 48px;
        }

        &items-wrapper {
            grid-template-columns: repeat(1, 1fr);
            padding-left: 20px;
            padding-right: 20px;
        }

        &text::after {
            top: 53%;
        }
    }
}