.container {
    max-width: 1200px;
    margin: 0 auto;
}
.editor__wrapper {
    padding-bottom: 70px;
}
.editor {
    text-align: center;
}
.editor-content {
    text-align: center;
}
.editor-content__trial {
    font-family: "Montserrat";
    font-size: 14px;
    color: #848e97;
    margin-bottom: 66px;
}

.editor-content__title {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 54px;
    line-height: 54px;
    color: #635c73;
    margin-bottom: 25px;
}

.editor-content__text {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    color: #323232;
    margin-bottom: 20px;
}

.data {
    width: 100px;
    height: 100px;
    font-family: "Lato";
    border: 1px solid;
    font-weight: bold;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 11px;
    margin-left: -0.4em;
}

.word {
    font-weight: bold;
    text-decoration: none;
}

.threeButton {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.threeButton__watch {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #f5f5f5;
    border-color: #323232;
    border-radius: 5px;
    border: 1px solid;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.threeButton__star {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #f5f5f5;
    border-color: #323232;
    border-radius: 5px;
    border: 1px solid;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.threeButton__fork {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #f5f5f5;
    border-color: #323232;
    border-radius: 5px;
    border: 1px solid;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.socialButton {
    display: inline-block;
}

.HereIs {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: grid;
}

.hereIs {
    background-color: #f4f4f4;
}
.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    padding-top: 60px;
    align-items: center;
    padding-bottom: 50px;
}

.column1 {
    display: grid;
    row-gap: 40px;
}

.column3 {
    display: none;
}

.slogan {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    color: #635c73;
    padding-bottom: 10px;
}
.screenshot {
    position: right;
}

.secondImg {
    display: none;
}
.infoIcon {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    align-items: center;
    justify-content: center;
}
.icons {
    align-items: center;
    justify-content: center;
}
.iconTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #323232;
}
.text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #848e97;
}

@media (min-width: 481px) and (max-width: 992px) {
    .editor-content__title {
        font-size: 42px;
        line-height: 42px;
    }

    .editor-content__text {
        font-size: 21px;
        line-height: 32px;
    }

    .hereIs {
        background: rgba(0, 0, 0, 0.0001);
    }

    .items {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }
    .infoIcon {
        display: grid;
        justify-items: center;
    }
    .slogan {
        text-align: center;
        font-weight: bold;
        font-size: 42px;
        line-height: 44px;
        padding-bottom: 50px;
    }
    .text {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        margin-top: 16px;
    }

    .socialButton {
        display: inline-block;
    }

    .column1 {
        display: none;
    }
    .column3 {
        display: grid;
        row-gap: 60px;
        margin-bottom: 85px;
    }
    .mainImg {
        float: right;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .mainImg {
        display: none;
    }
    .secondImg {
        display: flex;
        float: right;
    }
}

@media (min-width: 320px) and (max-width: 481px) {
    .editor-content__title {
        font-size: 26px;
        line-height: 28px;
    }
    .editor-content__text {
        font-size: 14px;
        line-height: 20px;
    }

    .slogan {
        font-size: 40px;
        line-height: 38px;
        text-align: center;
        padding-bottom: 36px;
    }
    .iconTitle {
        font-size: 16px;
        line-height: 16px;
    }

    .text {
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        margin-top: 14px;
    }

    .socialButton {
        margin-bottom: 5px;
        display: block;
    }
    .hereIs {
        background: rgba(0, 0, 0, 0.0001);
    }
    
    .items {
        display: grid;
        padding-bottom: 15px;
        
    }

    .column1 {
        display: none;
    }
    .column3 {
        display: grid;
        row-gap: 60px;
        margin-bottom: 85px;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .infoIcon {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 21px;


    }
    .secondImg {
        display: flex;
        float: right;
    }
}
