.hero {
    background-image: url('/dist/img/hero-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero__ {
    &nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 112px;
    }

    &title {
        font-family: $montserrat;
        font-weight: bold;
        font-size: 82px;
        line-height: 82px;
        color: #FFFFFF;
        padding-bottom: 19px;
    }

    &text--big {
        font-family: $lato;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 30px;
        color: $main-text-color;
        padding-bottom: 19px;
        text-transform: capitalize;
    }

    &text--small {
        font-family: $montserrat;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #848E97;
        text-transform: uppercase;
        padding-bottom: 459px;
    }
}

.nav__ {
    &logo {
        display: flex;
        align-items: center;
        padding-left: 90px;
    }

    &logo-img {
        padding-right: 17px;
        cursor: pointer;
    }
    
    &logo-name {
       font-size: 24px;
       line-height: 16px;
       text-transform: uppercase;
       color: $main-text-color;
       font-family: $lato;
       font-weight: bold;
       cursor: pointer;
    }

    &menu {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }

    &menu-item {
        color: $main-text-color;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;
        padding-right: 2em;
        cursor: pointer;
    }

    &menu-item:nth-child(4) {
        padding-right: 0em;
    }

    &menu-button {
        color: #fff;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;
        text-transform: capitalize;
        border-radius: 40px;
        background: $main-text-color;
        padding: 11px 20px;
        margin-left: 49px;
        margin-right: 90px;
        border: 1px solid #8D81AC;
    }
}

.nav__logo:hover .nav__logo-img {
    content: url(/dist/img/logo-hover.png);
}

.nav__logo:hover .nav__logo-name {
    color: #FFFFFF;
}

.nav__menu-button:hover {
    background-color: #FFFFFF;
    color: $main-text-color;
}

.button-down:hover {
    background-color: #fff;
    color: $main-text-color;
    border: 1px solid #8D81AC;
}

.nav__menu-item:hover {
    color: #FFFFFF;
}

.button__wrapper {
    transform: translateY(50%);
}

.button-down {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 21px;
    line-height: 22px;
    color: #FFFFFF;
    background: #8D81AC;
    border-radius: 40px;
    padding: 23px 61px;
    border: 1px solid #8D81AC;
}

@media (min-width: 481px) and (max-width: 993px) {
    .hero__ { 
        &nav { 
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 30px;
            background-color: #27262A;
            padding-bottom: 18px;
        }
        &title {
            padding-top: 69px;
            font-size: 72px;
            line-height: 72px;
        }
        &text--big {
            font-size: 24px;
            line-height: 24px;
        }
        &text--small {
            font-size: 14px;
            line-height: 14px;
        }
        
    }

    .nav__ { 
        &menu {
            order: 2;
            justify-content: center;
        }

        &menu-item:nth-child(4) {
            padding-right: 0em;
        }

        &menu-button {
            margin-left: 220px;
            margin-right: 20px;
        }

        &logo {
            padding-left: 20px;
        }
    }

}

@media (max-width: 528px) {
    .nav__menu-button {
        margin-left: 0px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .hero__ {
        &nav {
            justify-content: space-between;
            background: #27262A;
            padding-bottom: 18px; 
            position: relative;
        }

        &title {
            padding-top: 50px;
            font-size: 48px;
            line-height: 48px;
        }

        &text--big {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .nav__ {
        &menu-button {
            margin: 0;
        }

        &menu-item {
            padding: 29px 54px 21px 39px;
            font-family: $montserrat;
            font-weight: normal;
            font-size: 26px;
            line-height: 26px;
            color: #FFFFFF;
            background-color: #333333;
            border-bottom: 1px solid #3B3B3B;
            border-top: 1px solid #3B3B3B;
            position: relative;
        }

        &menu-item:active,
        &menu-item:focus,
        &menu-item:hover {
            color: #8D81AC;
        }

        &menu-item:active::before,
        &menu-item:focus::before,
        &menu-item:hover::before {
            position: absolute;
            content: "";
            width: 8px;
            height: 53px;
            background: #8D81AC;
            top: 15%;
            left: 0%;
        }


        &menu-item:nth-child(4) {
            padding-right: 5em;
        }

        &logo {
            padding-left: 16px;
        }

        &logo-name {
            display: none;
        }

        &menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            text-align: left;
            left: -200%;
            transition: 1.5s;
        }
    }

    .nav__menu.active {
        left: 3.5%;
        transition: 1.5s;
    }

    .nav__ {
        &burger-wrapper {
            order: 3;
            overflow: hidden;
            padding: 10px;
            position: relative;
        }

        &burger-wrapper::before {
            position: absolute;
            content: "";
            background: #FFFFFF;
            border-radius: 5px;
            width: 26px;
            height: 3px;
            top: 10%;
            left: 26%;
            transition: 1.5s;
        }

        &burger-wrapper::after {
            position: absolute;
            content: "";
            background: #FFFFFF;
            border-radius: 5px;
            width: 26px;
            height: 3px;
            top: 63%;
            left: 26%;
            transition: 1.5s;
        }
    }

    .nav__burger-wrapper.active::before {
        top: 10px;
        transform: rotate(45deg);
        transition: 1.5s;
    }

    .nav__burger-wrapper.active::after {
        top: 10px;
        transform: rotate(-45deg);
        transition: 1.5s;
    }

    .burger__ {
        &line {
            margin-bottom: 5px;
            margin-right: 15px;
            background: #FFFFFF;
            border-radius: 5px;
            width: 26px;
            height: 3px;
            transition: 1.5s;
        }
    }

    .burger__line.active {
        transform: rotate(360deg) scale(0);;
        transition: 1.5s;
    }

    .button-down {
        padding: 15px 29px;
        font-size: 18px;
        line-height: 20px;
    }
}
