.pricing {
    background-image: url("/dist/img/about-background-blur.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .pricing__ {
    &wrapper {
      text-align: center;
    }
  
    &cards-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      padding-bottom: 130px;
      column-gap: 20px;
    }
  
    &cards {
      display: flex;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.11);
    }
  
    &title {
      padding-top: 60px;
      padding-bottom: 112px;
      font-family: $montserrat;
      font-weight: bold;
      font-size: 48px;
      line-height: 50px;
      color: #ffffff;
    }
  }
  
  .cards__ {
    &title {
      padding: 28px;
      background: rgba(255, 255, 255, 0.06);
      font-family: $montserrat;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
      color: #ffffff;
    }
  
    &info {
      padding-top: 30px;
      padding-bottom: 40px;
    }
  
    &button {
      padding: 15px 38px;
      font-family: $montserrat;
      font-weight: normal;
      font-size: 15px;
      line-height: 15px;
      text-transform: uppercase;
      color: #ffffff;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 30px;
    }
  
    &price {
      font-family: $montserrat;
      font-weight: normal;
      font-size: 60px;
      line-height: 90px;
      text-transform: uppercase;
      color: #ffffff;
    }
  
    &month {
      padding-top: 20px;
      font-family: $montserrat;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #ffffff;
    }
  
    &describe {
      padding-top: 79px;
      padding-bottom: 36px;
      font-family: $montserrat;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #ffffff;
      position: relative;
    }
  
    &describe::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 5px;
      background: #8d81ac;
      top: 30%;
      left: 40%;
    }
  
    &button-wrapper {
      padding-bottom: 36px;
    }
  }
  
  .pricing__ {
    &cards-big {
      display: flex;
      flex-direction: column;
      background: rgba(70, 48, 72, 0.84);
      transform: scale(1.2);
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  
  .cards__ {
    &title-big {
      font-family: $montserrat;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
      color: #ffffff;
      padding: 43px;
      background: rgba(70, 48, 72, 0.9);
    }
  
    &info-big {
      padding-top: 14px;
      padding-bottom: 83px;
    }
  
    &price-big {
      font-family: $montserrat;
      font-weight: normal;
      font-size: 82px;
      line-height: 90px;
      text-transform: uppercase;
      color: #ffffff;
    }
  
    &month-big {
      padding-top: 16px;
      font-family: $montserrat;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #ffffff;
    }
  
    &describe-big {
      padding-top: 91px;
      font-family: $montserrat;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      color: #ffffff;
      position: relative;
    }
  
    &describe-big::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 5px;
      background: #8d81ac;
      top: 30%;
      left: 39%;
    }
  }
  
  @media (min-width: 481px) and (max-width: 992px) {
    .pricing__ {
      &cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 110px;
        padding-right: 110px;
        row-gap: 80px;
      }
    }
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .pricing__ {
      &cards-wrapper {
        grid-template-columns: 1fr;
        padding-left: 70px;
        padding-right: 70px;
        row-gap: 100px;
      }
  
      &cards-big {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }