@import './components/reset';
@import './utils/variables.scss';
@import './components/hero';
@import "./components/editor";
@import './components/about';
@import "./components/pricing";


.container {
    max-width: 1200px;
    margin: 0 auto;
}
